<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><h3>Kontakt</h3></li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-home"></i> <a href="http://www.opitz-consulting.com">www.opitz-consulting.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><h3>Social Media</h3></li>

          {% if site.github_username %}
          <li><i class="fa fa-github"></i> <a href="https://github.com/{{ site.github_username }}"> {{ site.github_username}}</a></li>
          {% endif %}

          {% if site.twitter_username %}
          <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ site.twitter_username }}"> {{ site.twitter_username }}</a></li>
          {% endif %}

          {% if site.youtube_username %}
          <li><i class="fa fa-youtube"></i> <a href="https://www.youtube.com/user/{{ site.youtube_username }}"> {{ site.youtube_username }}</a></li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-copy">
        &copy; 2016 by <a href="http://www.opitz-consulting.com">OPITZ CONSULTING Deutschland GmbH</a>
        • <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Atom RSS</a>
        • <a href="http://www.opitz-consulting.com/home/impressum.php">Impressum</a>
      </div>
    </div>

  </div>

</footer>
