<p>Teile diesen Artikel auf:</p>
<ul class="services">
  <li class="twitter"><a href="http://twitter.com/share?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li class="facebook"><a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title | url_encode }}"><i class="fa fa-facebook"></i> Facebook</a></li>
  <li class="google-plus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"><i class="fa fa-google-plus"></i> Google+</a></li>
  <li class="linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}&summary={{ page.excerpt | strip_html }}&source={{ site.url }}"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
  <li class="xing"><a href="https://www.xing.com/spi/shares/new?url={{ site.url }}{{ page.url }}"><i class="fa fa-xing"></i> Xing</a></li>
</ul>
