body{
    background-color: $background-gray;
}

.mdl-layout-title a {
  color: inherit;
  text-decoration: none;

  &:hover {
      color: $grey-color-light; //TODO Stefan such dir mal eine gute Hover Color aus ;)
  }
}

.opitz-header{
    background:white;
    color: $grey-color;
    .material-icons{
        color: $grey-color !important;
    }
}

.mdl-card>a{
    text-decoration: none;
}

.post-nav {
    padding: 16px;
    display: flex;
    color: $grey-color;
}

.section-spacer{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

.mdl-card{
    background: transparent;
}