body{
    background-color: $background-gray;
}

.opitz-header{
    background:white;
    color: $grey-color;
    .material-icons{
        color: $grey-color !important;
    }
}

.mdl-card>a{
    text-decoration: none;
}

.post-nav {
    display: flex;
    color: $grey-color;
}

.section-spacer{
    flex-grow: 1;
}

a.link-no-style{
    text-decoration: none;
    color: $mdl-color-text--grey-700;
}

.post>.mdl-card{
    background: transparent;
}