<nav class="post-nav mdl-cell mdl-cell--12-col">
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="demo-nav__button link-no-style">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--grey-900"
                role="presentation">
            <i class="material-icons">arrow_back</i>
        </button>
        Newer
    </a>
    {% endif %}

    <div class="section-spacer"></div>

    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="demo-nav__button link-no-style">
        Older

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--grey-900"
                role="presentation">
            <i class="material-icons">arrow_forward</i>
        </button>
    </a>
    {% endif %}
</nav>