---
layout: default
---

<article class="author">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

{% if page.topics %}
<h2>Schwerpunkte</h2>
<ul>
    {% for topic in page.topics %}
    <li>{{ topic }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if page.website %}
<h2>Kontakt</h2>
<ul>
  {% if page.website %}
  <li><a href="{{ page.website }}">Webseite</a></li>
  {% endif %}
  {% if page.email %}
  <li><a href="mailto:{{ page.email }}">E-Mail</a></li>
  {% endif %}
</ul>
{% endif %}

{% if page.social %}
<h2>Social Media</h2>
<ul>
  {% if page.social.twitter %}
    <li>twitter.com/<a href="https://twitter.com/{{ page.social.twitter }}">{{ page.social.twitter }}</a></li>
  {% endif %}
  {% if page.social.github %}
    <li>github.com/<a href="https://github.com/{{ page.social.github }}">{{ page.social.github }}</a></li>
  {% endif %}
  {% if page.social.stackoverflow %}
    <li>stackoverflow.com/users/<a href="{{ page.social.stackoverflow }}">{{ page.social.stackoverflow }}</a></li>
  {% endif %}
  {% if page.social.facebook %}
    <li>facebook.com/<a href="{{ page.social.facebook }}">{{ page.social.facebook }}</a></li>
  {% endif %}
  {% if page.social.xing %}
    <li>xing.com/profile/<a href="{{ page.social.xing }}">{{ page.social.xing }}</a></li>
  {% endif %}
  {% if page.social.lanyrd %}
    <li>lanyrd.com/profile/<a href="{{ page.social.lanyrd }}">{{ page.social.lanyrd }}</a></li>
  {% endif %}
</ul>
{% endif %}

<h2>Beiträge</h2>

<ul>
{% for post in site.posts %}
  {% if post.author == page.username %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% include date.html date=post.date %}</li>
  {% endif %}
{% endfor %}
</ul>

</article>
