<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="announcement">
          Besuchen Sie unseren offiziellen OPITZ CONSULTING Technologie-Blog und finden Sie viele interessante und aktuelle Beiträge unserer Mitarbeiter unter <a href="https://thecattlecrew.net/">thecattlecrew.net</a>. Wir freuen uns über Ihr Interesse und Ihren Besuch!
        </div>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include google_analytics.html %}

  </body>

</html>
