<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include header.html%}

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">opitzconsulting</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/posts">Beiträge</a>
            <a class="mdl-navigation__link" href="/authors">Autoren</a>
        </nav>
    </div>
    <main class="mdl-layout__content">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <!--left-->
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                {{content}}
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <!--right-->
            </div>
        </div>
        {% include footer.html %}

    </main>
</div>


<script type="text/javascript" src="/js/material.min.js"></script>
</body>

</html>
