---
layout: default
---

<div class="post mdl-grid">
    <!-- arrow back button -->
    <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">

        <a href="/index.html" class="demo-nav__button">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900"
                    role="presentation">
                <i class="material-icons">arrow_back</i>
            </button>
            Back to Home
        </a>
    </nav>

    <!--Post Card-->
    <div class="mdl-card mdl-shadow--10dp mdl-cell mdl-cell--12-col">
        <!--Heading-->
        <div class="mdl-card__media mdl-color-text--grey-50">
            <h1>{{ page.title }}</h1>
        </div>

        <!--Metadata Bar-->
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <!--<div class="avatar {% if page.author contains 'Pascal' %} avatar-pascal {% endif %}"></div>-->
            <div>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}
                    {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>

        <!--Content-->
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text" id="b">
            <div id="postContentWrapper">{{ content }}</div>
        </div>

        <!--Comments-->
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
            {% include disqus_comments.html %}
        </div>


    </div>

    <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
        {% include post/forward_backward_nav.html %}
    </nav>
</div>

