---
layout: default
---

<div class="post mdl-grid">
    <!-- arrow back button -->
    <nav class="post-nav mdl-cell mdl-cell--12-col">
        <a href="/index.html" class="demo-nav__button link-no-style">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color-text--grey-900"
                    role="presentation">
                <i class="material-icons">arrow_back</i>
            </button>
            Back to Home
        </a>
    </nav>

    <!--Post Card-->
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <!--Heading-->

        <div class="mdl-card__title mdl-card--expand">
            <h1>{{ page.title }}</h1>
        </div>

        <!--Content-->
        <div class="mdl-card__supporting-text" id="b">

            <div>
                <!--<div class="avatar {% if post.author contains 'Pascal' %} avatar-pascal {% endif %}"></div>-->
                <div>
                    <span><strong>Author: </strong>{{page.author}}</span><br>
                    <span><strong>Date: </strong>{{ page.date | date: "%b %-d, %Y" }}</span>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
            <hr>

            <div id="postContentWrapper">{{ content }}</div>
        </div>

        <!--Comments-->
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
            {% include disqus_comments.html %}
        </div>


    </div>


    {% include post/forward_backward_nav.html %}

</div>

